<div class="flex h-screen bg-black text-white">
    <!-- Sidebar -->
    <nav class="w-72 bg-gray-900 p-5 flex flex-col fixed h-full nav">
      <div class="mb-8 text-center">
        <img src="https://github.com/user-attachments/assets/01676c11-0ef2-49e4-ae7a-7da021df66c7" alt="Logo" class="mx-auto h-32 m-5">
      </div>
      <ul class="space-y-4 text-lg">
        <li><a routerLink="/" class="block py-2 px-4 rounded-md hover:bg-gray-700">Inicio</a></li>
        <li><a routerLink="/movies/create" class="block py-2 px-4 rounded-md hover:bg-gray-700">Añadir Producto</a></li>
        <li><a routerLink="/pedidos" class="block py-2 px-4 rounded-md hover:bg-gray-700">Pedidos</a></li>
        <li><a routerLink="/reports" class="block py-2 px-4 rounded-md hover:bg-gray-700">Reportes</a></li>
        <li><a routerLink="/providers" class="block py-2 px-4 rounded-md hover:bg-gray-700">Proveedores</a></li>
        <li><a routerLink="/settings" class="block py-2 px-4 rounded-md hover:bg-gray-700">Configuración</a></li>
      </ul>
    </nav>
  
    <!-- Content -->
    <div class="ml-64 p-8 w-full overflow-auto">
      <router-outlet></router-outlet>
    </div>
  </div>
  