<div class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-5 gap-6 p-6">
    <div *ngFor="let movie of movies" class="bg-gray-900 text-white rounded-lg shadow-lg p-4">
        <img class="rounded-md w-full h-40 object-contain" [src]="movie.image" [alt]="movie.title">
        <div class="text-center my-3 text-lg font-bold">{{ movie.title }}</div>
        <p class="text-sm text-gray-300 mb-2">{{ movie.description }}</p>
        <div class="text-sm"><span class="font-bold">Precio: $</span> {{ movie.time }}.000</div>
        <div class="flex items-center justify-between bg-gray-800 text-white p-2 rounded-md mt-2">
            <button class="bg-red-600 text-white px-3 py-1 rounded-md" (click)="decrementStock(movie)">-1</button>
            <span class="text-lg font-bold">{{ movie.producer }}</span>
            <button class="bg-green-600 text-white px-3 py-1 rounded-md" (click)="incrementStock(movie)">+1</button>


        </div>        
        <div class="mt-3 flex justify-between">
            <button class="bg-yellow-500 text-black px-3 py-1 rounded-md" routerLink="/movies/edit/{{movie._id}}">Editar</button>
            <button class="bg-red-600 px-3 py-1 rounded-md" (click)="deleteMovie(movie._id!)">Borrar</button>
        </div>
    </div>
</div>
